body {
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #21315a;
  width: 100%;
  display: grid;
  align-items: end;
  justify-items: center;
}
header h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  color: #94ce5a;
  padding-bottom: 20px;
}
header img {
  width: 715px;
}

header h2,
header img {
  grid-area: 1 / 1 / 2 / 2;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.article-1,
.article-2,
.article-3 {
  background-color: #21315a;
  padding: 12px;
}

.article-1 h1,
.article-2 h1,
.article-3 h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
  padding-bottom: 13px;
  justify-content: center;
  color: #94ce5a;
  line-height: 37.5px;
}

.article-1 p,
.article-2 p,
.article-3 p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 18.75px;
}
